      

      <div class="row span12 bordered" id="design">
        

        <div class="span2" id="pallete">
          <div class="menu_ bordered">
        
          <%= select_tag :palette, options_from_collection_for_select(@attribute_layers, :id, :label), include_blank: false, id: 'attr-select' %>
          

          <% @attribute_layers.each do |attribute_layer| %>
          <div id="choice<%= attribute_layer.id %>" class="choice">
          <% end %>

          <% @attributes.each do |attribute| %>
          here
          <%= image_tag attribute.attr_img.url(:thumb) %>
          <% end %>

        </div>

      </div> <!-- /row -->