<div id="wrapper_container">
  <div class="span9 unselectable" id="canvas_container">
    <button class="btn pull-left" id="reset">Reset</button>
    <button class="btn pull-left" id="remove-img">Remove Image</button>
    <button class="btn pull-left" id="switch">Switch User</button>

    <canvas id="canvas"></canvas>
    <div id="wPaint"></div>

  </div>
</div>