      <div class="row span12 bordered" id="design">
		  
		
		  
        <div class="span2" id="pallete">
			<% if current_customer %>
				<%= simple_form_for @project do |f| %>
				  <%= f.association :artisan, collection: Artisan.all, value_method: :_id, label_method: :email, include_blank: false  %>
				  <%= f.button :submit %>
				<% end %>
			<% end %>
          <div class="menu_ bordered">
            <select id=attr-select>
              <option value="1">Patterns</option>
              <option value="2">Stitch type</option>
              <option value="3">Mirror Work</option>
              <option value="4">Button</option>
            </select>

            <div id=choice1 class=choice>
              <img src="/pictures/Patterns/pattern1.jpg" _width="90px" class="attr">
              <img src="/pictures/Patterns/pattern3.jpg" _width="90px" class="attr">
              <img src="/pictures/Patterns/pattern4.jpg" _width="90px" class="attr">
              <img src="/pictures/Patterns/pattern5.jpg" _width="90px" class="attr">
              <img src="/pictures/Patterns/pattern6.jpg" _width="90px" class="attr">
              <img src="/pictures/Patterns/pattern7.jpg" _width="90px" class="attr">
              <img src="/pictures/Patterns/pattern8.jpg" _width="90px" class="attr">
              <img src="/pictures/Patterns/pattern9.jpg" _width="90px" class="attr">
              <img src="/pictures/Patterns/pattern10.jpg" _width="90px" class="attr">
              <img src="/pictures/Patterns/pattern11.jpg" _width="90px" class="attr">
              <img src="/pictures/Patterns/pattern12.jpg" _width="90px" class="attr">
            </div>

            <div id=choice2 class=choice>
              <img src="/pictures/Stitches/stich1.jpg" _width="90px" class="attr">
              <img src="/pictures/Stitches/stich2.jpg" _width="90px" class="attr">
              <img src="/pictures/Stitches/stich3.jpg" _width="90px" class="attr">
              <img src="/pictures/Stitches/stich4.jpg" _width="90px" class="attr">
              <img src="/pictures/Stitches/stich5.jpg" _width="90px" class="attr">
              <img src="/pictures/Stitches/stich6.jpg" _width="90px" class="attr">
              <img src="/pictures/Stitches/stich7.jpg" _width="90px" class="attr">
              <img src="/pictures/Stitches/stich8.jpg" _width="90px" class="attr">
              <img src="/pictures/Stitches/stich9.jpg" _width="90px" class="attr">
              <img src="/pictures/Stitches/stich10.png" _width="90px" class="attr">
              <img src="/pictures/Stitches/stich11.jpg" _width="90px" class="attr">
              <img src="/pictures/Stitches/stich12.jpg" _width="90px" class="attr">
            </div>

            <div id=choice3 class=choice>
              <img src="/pictures/Mirror Work/m1.jpg" _width="90px" class="attr">
              <img src="/pictures/Mirror Work/m2.jpg" _width="90px" class="attr">
              <img src="/pictures/Mirror Work/m3.jpg" _width="90px" class="attr">
              <img src="/pictures/Mirror Work/m4.jpg" _width="90px" class="attr">
              <img src="/pictures/Mirror Work/m5.jpg" _width="90px" class="attr">
              <img src="/pictures/Mirror Work/m6.jpg" _width="90px" class="attr">
              <img src="/pictures/Mirror Work/m7.jpg" _width="90px" class="attr">
              <img src="/pictures/Mirror Work/m8.jpg" _width="90px" class="attr">
              <img src="/pictures/Mirror Work/m9.jpg" _width="90px" class="attr">
              <img src="/pictures/Mirror Work/m10.jpg" _width="90px" class="attr">
              <img src="/pictures/Mirror Work/m11.jpg" _width="90px" class="attr">
              <img src="/pictures/Mirror Work/m12.jpg" _width="90px" class="attr">
            </div>

            <div id=choice4 class=choice>
              <img src="/pictures/Buttons/button1.jpg" _width="90px" class="attr">
              <img src="/pictures/Buttons/button2.jpg" _width="90px" class="attr">
              <img src="/pictures/Buttons/button3.jpg" _width="90px" class="attr">
              <img src="/pictures/Buttons/button4.jpg" _width="90px" class="attr">
            </div>

          </div>

        </div>

        <div class="span9 unselectable" id="canvas_container">
          <button class="btn pull-left" id="reset">Reset</button>
          <button class="btn pull-left" id="remove-img">Remove Image</button>
          <button class="btn pull-left" id="switch">Switch User</button>
<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
          
          <canvas id="canvas"></canvas>
        </div>
		
        
      </div> <!-- /row -->